body{
   max-width: 1400px;
}

* {
 margin:0;
 padding:0;
 }

 .logo{
    height: 19px;
    width: 61.089656829833984px;
    left: 0px;
    top: 0px;
    margin-top: 15px;
    border-radius: 0px;

 }

 nav{
    display: flex;
   margin-left: 50px;
   margin-top: 35px;
 }

 .nav-links{
        display: flex;
        align-items: center;
        padding: 20px 15px;

}

.nav-links li {
    list-style: none;
    margin: 0 30px;
}

.nav-links li a {
    position: relative;
    color: #333;
    font-size: 20px;
    font-weight: 700;
    font-family: Raleway;
    font-size: 16px;
    line-height: 19px;
    padding: 6px 0;
    text-decoration: none;
}

.nav-links li a:before{
    content: '';
    position: absolute;
    bottom: 78px;
    left: 0;
    height: 3px;
    width: 0%;
    background: #0065FC;
    transition: all 0.4s ease;

}

.nav-links li a:hover:before{
    width: 100%;
}

.nav-links li a:hover{
   color: #0065FC;
}

 .navigation-link{
    display: flex;
    gap: 40px;
    margin-left: 1100px;
    
 }

 .navigate{
    text-decoration: none;
    color: black;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
 }

 .navigate:hover {
    color: #0065FC;
 }

 .site-title{
    
    margin-top: 30px;
    margin-left: 40px;
    height: 26px;
    left: 55px;
    top: 126px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #000000;

 }

 .infos{
    margin-top: 10px;
    margin-left: 40px;
    height: 19px;
    left: 55px;
    top: 160px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

 }

 .chearch{
   display: flex;
   margin-left: 40px;
   margin-top: 20px;
 }
 .chearch-icon{
   display: none;
 }

 .input-text{
    height: 40px;
    width: 332px;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
    border-left: none;
    border-right: none;
    text-align: center;
    border-color: #F2F2F2;
    font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
    
 }

 .location-icon{
    width: 35px;
    background-color: aquamarine;
    height: 27px;
    text-align: center;
    padding-top: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius:15px ;
    background-color: #F2F2F2;
 }

 .input-chearch{
    width: 159px;
    background-color:#0065FC ;
    height: 42px;
    margin-left: -20px;
    text-align: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: none;
    font-family: Raleway;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border: none;
    cursor: pointer;
 }


 .filtre{
    display: flex;
    margin-top: 30px;
    margin-left: 40px;
    gap: 20px;
 }

 .all-filtres{
   display: flex;
   gap: 20px;
 }

 .economy{
    width: 140px;
    height:35px;
    border: solid 1px grey;
    text-align: center;
    border-radius: 15px;
 }
 .family{
    width: 120px;
    height:35px;
    border: solid 1px grey;
    text-align: center;
    border-radius: 15px;
 }

 .romantique{
    width: 140px;
    height: 35px;
    border: solid 1px grey;
    text-align: center;
    border-radius: 15px;
 }

 .animal{
    width: 200px;
    height:35px;
    border: solid 1px grey;
    text-align: center;
    border-radius: 15px;
 }
 



 .ic{
    color:#0065FC;
    margin-right: 10px;
 }


 button{
    cursor: pointer;
    padding-top: 7px;
    font-family: Raleway;
    font-size: 17px;
    border: none;
    background: none;
    font-weight: 700;
    
 }

 .animal:hover , .economy:hover , .family:hover , .romantique:hover {
    background-color: #DEEBFF;
 }

 h2{
    margin-top: 5px;
    margin-left: 5px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
 }

 .title-hebergement{
   text-align-last: left;
   margin-left: 20px;
   margin-top: 20px;
 }

 .details{
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
    gap: -10px;
 }

 .h4-hebergement{
   margin-left: 20px;
 }

 .fa-circle-info{
    margin-top: 12px;
    color: grey;
      
 }

.marseille-accommodation{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
 .hebergement{
    width: 880px;
    height:625px ;
    background-color: #F2F2F2;
    border-radius: 20px;
 }

 .popular{
    width: 420px;
    height: 625px;
    background-color: #F2F2F2;
    border-radius: 20px;
 }

 .box-hebergement{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
 }

 .boxh{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 29%;
    height: 220px;
    gap: 20px;
    border-radius: 20px;
    margin-top: 20px;
    
 }

 .img-accomodation{
    width: 240px;
    height: 140px;
    padding-top: 5px;
    padding-left: 8px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-left: 0.5px;
    
 }

 .rate{
    color: #0065FC;
 }

 .accommodation-card{
   color: #000000;
   text-decoration: none;
 }

 .card-detail{
   margin-left: 22px;
 }

 h4{
   margin-left: 10px;
 }

 .all-star{
   margin-left: 17px;
   margin-top: 6px;
 }

 .last-star{
   color: gray;
 }

 .block-seemore{
   justify-content: flex-start;
 }

 .see-more{
   color: #000000;
   text-decoration: none;
   font-family: Raleway;
   font-weight: 700;
   font-size: 18px;
   font-style: normal;
   line-height: 21px;
   text-align: left;
   margin-right: 750px;
 }

 .popular-title{
   display: flex;
   flex-direction: row;   
 }

 .h1popular{

   margin-top: 20px;
   margin-left: 20px;
 }

 .fa-chart-line{
   margin-top: 25px;
   text-align-last: right;
   margin-left: 160px;
   color: #0065FC;
 }

 .popular-box{
   display: flex;
   margin-left: 20px;
   margin-top: 25px;
   width: 343px;
   height: 150px;
   background-color: white;
   border-radius: 20px;
 }

 .popular-img{
   width: 137px;
   height: 144px;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   margin-left: 5px;
   padding-top: 3px;
   padding-bottom: 3px;
   object-fit: cover;
   
 }

 .popular-details{
   margin-top: 15px;
 }

 .popular-text{
   margin-top: 25px;
   margin-left: 10px;
   padding-right: 10px;
 }

 #star-outline{
   margin-top: 25px;
 }

 .popstar{
   margin-top: 40px;
   margin-left: 10px;

 }

 .popular-link{
   color: #000000;
   text-decoration: none;
 }

 .marseille-box{
   
   background-color:#F2F2F2;
   width: 302px;
   height: 444px;
   border-radius: 20px;
 }

 .img-activity{
   border-top-right-radius: 20px;
   border-top-left-radius: 20px;
   width: 302px;
   height: 400px;
   object-fit: cover;
 }

 .acticity-text{
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 19px;
   margin-top: 10px;
 }

 .activity-link{
   color: #000000;
   text-decoration: none;
 }

 .marseille-boxes{
   margin-top: 20px;
   display: flex;
   justify-content: space-around;
 }

 .activity-title{
   margin-top: 70px;
   text-align-last: left;
   margin-left: 30px;
   font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 26px;

color: #000000;
 }

 footer{

   text-align: center;
   display: flex;
   margin-top: 30px;
   margin-left: 70px;
   justify-content: space-around;
   width: 1390px;
   height: 225px;
   background-color: #F2F2F2;
   gap: 300px;
   
 }

 .a-propos{
   margin-top: 50px;
   text-align: center;  
 }

 .pfooter{
   font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: #000000;
 }

 .h2footer{
   margin-bottom: 10px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 21px;
   color: #000000;

 }

 @media screen and (min-width: 768px) and (max-width:991px) {
      .navigation-link{
         margin-left: 400px;
      }

      .filtre,.chearch,.info,.site-title,.logo{
         margin-right: 5px;
      }

      .site-title{
         font-weight: 600;
         font-size: 20px;
      }

     .input-text{
      width: 280px;
     }
      .filtre{
         width: 670px;
      }
      button{
         font-size: 15px;
         font-weight: 600;
      }

      .economy{
         width: 170px;
      }

      .romantique{
         width: 170px;
      }

      .animal{
         width: 230px;
      }

      .marseille-accommodation{
         flex-direction: column;
      }

      .hebergement{
         width: 700px;
      }
      
      .boxh{
         height: 195px;
         
      }

      .img-accomodation{
         width: 190px;
         height: 120px;
         object-fit: cover;
         border-top-right-radius: 20px;
         border-top-left-radius: 20px;
         margin-right: 10px;
    
      }

      .box-hebergement{
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: space-around;
         gap: 20px;
      }

      .h3-accomodation{
         text-align-last: left;
      }

      .h4-accomodation{
         text-align-last: left;
      }

      .card-detail{
         text-align-last: left;
      }
      .all-star{
         text-align-last: left;
      }

      .block-seemore{
        margin-left: 130px;
        margin-top: 30px;
      }

      .popular{
         margin-top: 30px;
         width: 750px ;
         height: 300px;
      }

      .popular-title{
         display: flex;
         flex-direction: row;
         flex-wrap: nowrap;
         height: 30px;
      }

      .popular-box{
         width: 229px;
      
      }

      .popular-img{
         width:100px;
         object-fit: cover;
      }

      .all-boxes{
         margin-top: 20px;
         display: flex;
         flex-direction: row;
      }
      .popular-details{
         width: 111px;
         height: 32px;

         font-family: 'Raleway';
         font-style: normal;
         font-weight: 700;
         font-size: 14px;
         line-height: 16px;

         color: #000000;


         /* Inside auto layout */

         flex: none;
         order: 0;
         flex-grow: 0;
      }

      .popular-text{
         width: 120px;
      height: 15px;

      margin-left: -1px;
      margin-left: 3px;
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 15px;

      color: #000000;
      flex: none;
      order: 1;
      flex-grow: 0;
      }

      .marseille-box{
         width: 160px;
         height: 267px;
      }
      
      .img-activity{
         width: 160px;
         height: 218px;
         object-fit: cover;
      }

      .acticity-text{
         font-family: 'Raleway';
         font-style: normal;
         font-weight: 600;
         font-size: 13px;
         line-height: 14px;
         width: 100px;
 }
 footer{

   width: 670px;
   height: 300px;
   gap: 20px;
   text-align: center;
     
 }

 .pfooter{
   font-size: 15px;
   
 }

 .fa-chart-line{
   margin-left: 500px;
 }
}

@media screen and (min-width:200px) and (max-width:767px) {



   .logo{
      margin-bottom: 80px;
      margin-left: 35%;
   }

   .navigation-link{
      margin-top: 50px;
      flex-direction: column;
      margin-left: -230px;
   }

   .nav-links li a:before{
      top: 90px;
   }

   .nav-links li a{
      padding: 35px;   
   }

   .site-title{
      width: 298px;
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 26px;
      color: #000000;
      margin-left: 13%;
   }

   .infos{
      margin-top: 40px;
      margin-left: 50px; 
   }

   .input-text{
      width: 200px;
   }

   .filtre{
      width: 400px;
      flex-wrap: wrap;
   }

   .label-filtre{
      display: unset;
   }

   .all-filtres{
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      width: 450px;
   }

   .economy{
      width: 160px;
      height: 50px;
      border-radius: 30px;
      padding-top: 10px;
   }

   .family{
      width: 160px;
      height: 50px;
      border-radius: 30px;
      padding-top: 10px;
   }

   .romantique{
      width: 160px;
      height: 50px;
      border-radius: 30px;
      padding-top: 10px;
   }

   .animal{
      width: 160px;
      height: 50px;
      border-radius: 30px;
      padding-top: 10px;
   }
   
   button{
      text-align: center;
      margin-top: 5px;
      font-size: 11px;
      line-height: 13px;
   }

   .marseille-accommodation{
      flex-direction: column;
   }

   .popular{
      order: 0;
      width: auto;
      height: 580px;
      border-radius: 0px;
      text-align: center;
   }

   .all-boxes{
      margin-right: 20px;
   }

   .hebergement{
      order: 1;
      height: auto;
      background-color: white;
   }

   .box-hebergement{
      flex-direction: column;
      margin-left: 280px;
      gap: 2px;
      
   }

   .boxh{
      width: 315px;
      height: 199px;
   }

   .img-accomodation{
      height: 124px;
      width: 300px;
      object-fit: cover;
   }

   .see-more{
      display: none;
   }
   .title-hebergement{
      margin-top: 20px;
      margin-left: 270px;
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 26px;
      color: #000000;
   }

   .activity-title{
      
      width: 110px;
      height: 30.02px;
      left: 22px;
      top: 2646px;
      margin-left: 50px;
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 26px;
      color: #000000;
   }

   .marseille-boxes{
      padding-top: 20px;
      flex-direction: column;
      margin-top: 20px;
      margin-left: 50px;
      gap: 15px;
   }

   .marseille-box{
       width: 315px;
      height: 170px;
   }

   .img-activity{
      height: 124px;
      width: 315px;
      object-fit: cover;
   }

   footer{
      flex-direction: column;
      gap: 2px;
      text-align: center;
      margin-left: -500px;
      height: auto;
   }

   .details i{
      margin-top: 50px;
   }
   .chearch-icon{
   display: inline;
   }

   .text-chearch{
      display: none;
   }

   .input-chearch{
      width: 49px;
      padding-bottom: 30px;
   }

   .btn-chearch{
      margin-left: 20px;
      margin-top: -5px;
   }
}  

@media screen and (min-width:420px) and (max-width:767px){
   .site-title{
      margin: auto;
      margin-top: 50px;
   }
   .infos{
      margin-left: 30%;
      margin-top: 50px;
   }

   .chearch{
      margin-left: 30%;
   }

   .filtre{
      margin: auto;
      margin-top: 20px;
   }

   .marseille-activity{
      margin-left: 24%;
   }

   .a-propos{
      padding-left: 29%;
   }
}


